@charset "UTF-8";

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Dependencies
@import "reset";
@import "font-face";
@import "variables";
@import "mixins/helpers";
@import "mixins/mq";

// App
@import "sidebar";

// Basic
html {
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
	font-size: 1.2rem;
	font-family: "TT Norms Pro";
	line-height: 1.6470588235;
	font-weight: 400;
	color: $color-text;
	background-color: #FAFAFB;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}